<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.zyy.mapper.IndustrialDevelopSchoolMapper">

    <resultMap id="BaseResultMap" type="com.lanqiao.zyy.domain.IndustrialDevelopSchool">
            <id property="itemid" column="itemID" jdbcType="INTEGER"/>
            <id property="itemcode" column="itemCode" jdbcType="CHAR"/>
            <result property="schoolName" column="SCHOOL_NAME" jdbcType="VARCHAR"/>
            <result property="schoolIntroduce" column="SCHOOL_INTRODUCE" jdbcType="VARCHAR"/>
            <result property="secondaryCollege" column="SECONDARY_COLLEGE" jdbcType="VARCHAR"/>
            <result property="enrollmentMajor" column="ENROLLMENT_MAJOR" jdbcType="VARCHAR"/>
            <result property="graduateEnrollmentMajor" column="GRADUATE_ENROLLMENT_MAJOR" jdbcType="VARCHAR"/>
            <result property="phone" column="PHONE" jdbcType="VARCHAR"/>
            <result property="onlineAddress" column="ONLINE_ADDRESS" jdbcType="VARCHAR"/>
            <result property="schoolText" column="SCHOOL_TEXT" jdbcType="VARCHAR"/>
            <result property="addressPro" column="ADDRESS_PRO" jdbcType="VARCHAR"/>
            <result property="addressCity" column="ADDRESS_CITY" jdbcType="VARCHAR"/>
            <result property="addressCountry" column="ADDRESS_COUNTRY" jdbcType="VARCHAR"/>
            <result property="address" column="ADDRESS" jdbcType="VARCHAR"/>
            <result property="orgCode" column="ORG_CODE" jdbcType="VARCHAR"/>
            <result property="status" column="STATUS" jdbcType="VARCHAR"/>
            <result property="creater" column="CREATER" jdbcType="VARCHAR"/>
            <result property="itemcreateat" column="itemCreateAt" jdbcType="TIMESTAMP"/>
            <result property="updater" column="UPDATER" jdbcType="VARCHAR"/>
            <result property="itemupdateat" column="itemUpdateAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        itemID,itemCode,SCHOOL_NAME,
        SCHOOL_INTRODUCE,SECONDARY_COLLEGE,ENROLLMENT_MAJOR,
        GRADUATE_ENROLLMENT_MAJOR,PHONE,ONLINE_ADDRESS,
        SCHOOL_TEXT,ADDRESS_PRO,ADDRESS_CITY,
        ADDRESS_COUNTRY,ADDRESS,ORG_CODE,
        STATUS,CREATER,itemCreateAt,
        UPDATER,itemUpdateAt
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_industrial_develop_school
        where  itemID = #{itemid,jdbcType=INTEGER} AND itemCode = #{itemcode,jdbcType=CHAR} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_industrial_develop_school
        where  itemID = #{itemid,jdbcType=INTEGER} AND itemCode = #{itemcode,jdbcType=CHAR} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lanqiao.zyy.domain.IndustrialDevelopSchool" useGeneratedKeys="true">
        insert into tb_industrial_develop_school
        ( itemID,itemCode,SCHOOL_NAME
        ,SCHOOL_INTRODUCE,SECONDARY_COLLEGE,ENROLLMENT_MAJOR
        ,GRADUATE_ENROLLMENT_MAJOR,PHONE,ONLINE_ADDRESS
        ,SCHOOL_TEXT,ADDRESS_PRO,ADDRESS_CITY
        ,ADDRESS_COUNTRY,ADDRESS,ORG_CODE
        ,STATUS,CREATER,itemCreateAt
        ,UPDATER,itemUpdateAt)
        values (#{itemid,jdbcType=INTEGER},#{itemcode,jdbcType=CHAR},#{schoolName,jdbcType=VARCHAR}
        ,#{schoolIntroduce,jdbcType=VARCHAR},#{secondaryCollege,jdbcType=VARCHAR},#{enrollmentMajor,jdbcType=VARCHAR}
        ,#{graduateEnrollmentMajor,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{onlineAddress,jdbcType=VARCHAR}
        ,#{schoolText,jdbcType=VARCHAR},#{addressPro,jdbcType=VARCHAR},#{addressCity,jdbcType=VARCHAR}
        ,#{addressCountry,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{orgCode,jdbcType=VARCHAR}
        ,#{status,jdbcType=VARCHAR},#{creater,jdbcType=VARCHAR},#{itemcreateat,jdbcType=TIMESTAMP}
        ,#{updater,jdbcType=VARCHAR},#{itemupdateat,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lanqiao.zyy.domain.IndustrialDevelopSchool" useGeneratedKeys="true">
        insert into tb_industrial_develop_school
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="itemid != null">itemID,</if>
                <if test="itemcode != null">itemCode,</if>
                <if test="schoolName != null">SCHOOL_NAME,</if>
                <if test="schoolIntroduce != null">SCHOOL_INTRODUCE,</if>
                <if test="secondaryCollege != null">SECONDARY_COLLEGE,</if>
                <if test="enrollmentMajor != null">ENROLLMENT_MAJOR,</if>
                <if test="graduateEnrollmentMajor != null">GRADUATE_ENROLLMENT_MAJOR,</if>
                <if test="phone != null">PHONE,</if>
                <if test="onlineAddress != null">ONLINE_ADDRESS,</if>
                <if test="schoolText != null">SCHOOL_TEXT,</if>
                <if test="addressPro != null">ADDRESS_PRO,</if>
                <if test="addressCity != null">ADDRESS_CITY,</if>
                <if test="addressCountry != null">ADDRESS_COUNTRY,</if>
                <if test="address != null">ADDRESS,</if>
                <if test="orgCode != null">ORG_CODE,</if>
                <if test="status != null">STATUS,</if>
                <if test="creater != null">CREATER,</if>
                <if test="itemcreateat != null">itemCreateAt,</if>
                <if test="updater != null">UPDATER,</if>
                <if test="itemupdateat != null">itemUpdateAt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="itemid != null"> #{itemid,jdbcType=INTEGER},</if>
                <if test="itemcode != null"> #{itemcode,jdbcType=CHAR},</if>
                <if test="schoolName != null"> #{schoolName,jdbcType=VARCHAR},</if>
                <if test="schoolIntroduce != null"> #{schoolIntroduce,jdbcType=VARCHAR},</if>
                <if test="secondaryCollege != null"> #{secondaryCollege,jdbcType=VARCHAR},</if>
                <if test="enrollmentMajor != null"> #{enrollmentMajor,jdbcType=VARCHAR},</if>
                <if test="graduateEnrollmentMajor != null"> #{graduateEnrollmentMajor,jdbcType=VARCHAR},</if>
                <if test="phone != null"> #{phone,jdbcType=VARCHAR},</if>
                <if test="onlineAddress != null"> #{onlineAddress,jdbcType=VARCHAR},</if>
                <if test="schoolText != null"> #{schoolText,jdbcType=VARCHAR},</if>
                <if test="addressPro != null"> #{addressPro,jdbcType=VARCHAR},</if>
                <if test="addressCity != null"> #{addressCity,jdbcType=VARCHAR},</if>
                <if test="addressCountry != null"> #{addressCountry,jdbcType=VARCHAR},</if>
                <if test="address != null"> #{address,jdbcType=VARCHAR},</if>
                <if test="orgCode != null"> #{orgCode,jdbcType=VARCHAR},</if>
                <if test="status != null"> #{status,jdbcType=VARCHAR},</if>
                <if test="creater != null"> #{creater,jdbcType=VARCHAR},</if>
                <if test="itemcreateat != null"> #{itemcreateat,jdbcType=TIMESTAMP},</if>
                <if test="updater != null"> #{updater,jdbcType=VARCHAR},</if>
                <if test="itemupdateat != null"> #{itemupdateat,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lanqiao.zyy.domain.IndustrialDevelopSchool">
        update tb_industrial_develop_school
        <set>
                <if test="schoolName != null">
                    SCHOOL_NAME = #{schoolName,jdbcType=VARCHAR},
                </if>
                <if test="schoolIntroduce != null">
                    SCHOOL_INTRODUCE = #{schoolIntroduce,jdbcType=VARCHAR},
                </if>
                <if test="secondaryCollege != null">
                    SECONDARY_COLLEGE = #{secondaryCollege,jdbcType=VARCHAR},
                </if>
                <if test="enrollmentMajor != null">
                    ENROLLMENT_MAJOR = #{enrollmentMajor,jdbcType=VARCHAR},
                </if>
                <if test="graduateEnrollmentMajor != null">
                    GRADUATE_ENROLLMENT_MAJOR = #{graduateEnrollmentMajor,jdbcType=VARCHAR},
                </if>
                <if test="phone != null">
                    PHONE = #{phone,jdbcType=VARCHAR},
                </if>
                <if test="onlineAddress != null">
                    ONLINE_ADDRESS = #{onlineAddress,jdbcType=VARCHAR},
                </if>
                <if test="schoolText != null">
                    SCHOOL_TEXT = #{schoolText,jdbcType=VARCHAR},
                </if>
                <if test="addressPro != null">
                    ADDRESS_PRO = #{addressPro,jdbcType=VARCHAR},
                </if>
                <if test="addressCity != null">
                    ADDRESS_CITY = #{addressCity,jdbcType=VARCHAR},
                </if>
                <if test="addressCountry != null">
                    ADDRESS_COUNTRY = #{addressCountry,jdbcType=VARCHAR},
                </if>
                <if test="address != null">
                    ADDRESS = #{address,jdbcType=VARCHAR},
                </if>
                <if test="orgCode != null">
                    ORG_CODE = #{orgCode,jdbcType=VARCHAR},
                </if>
                <if test="status != null">
                    STATUS = #{status,jdbcType=VARCHAR},
                </if>
                <if test="creater != null">
                    CREATER = #{creater,jdbcType=VARCHAR},
                </if>
                <if test="itemcreateat != null">
                    itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
                </if>
                <if test="updater != null">
                    UPDATER = #{updater,jdbcType=VARCHAR},
                </if>
                <if test="itemupdateat != null">
                    itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   itemID = #{itemid,jdbcType=INTEGER} AND itemCode = #{itemcode,jdbcType=CHAR} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lanqiao.zyy.domain.IndustrialDevelopSchool">
        update tb_industrial_develop_school
        set 
            SCHOOL_NAME =  #{schoolName,jdbcType=VARCHAR},
            SCHOOL_INTRODUCE =  #{schoolIntroduce,jdbcType=VARCHAR},
            SECONDARY_COLLEGE =  #{secondaryCollege,jdbcType=VARCHAR},
            ENROLLMENT_MAJOR =  #{enrollmentMajor,jdbcType=VARCHAR},
            GRADUATE_ENROLLMENT_MAJOR =  #{graduateEnrollmentMajor,jdbcType=VARCHAR},
            PHONE =  #{phone,jdbcType=VARCHAR},
            ONLINE_ADDRESS =  #{onlineAddress,jdbcType=VARCHAR},
            SCHOOL_TEXT =  #{schoolText,jdbcType=VARCHAR},
            ADDRESS_PRO =  #{addressPro,jdbcType=VARCHAR},
            ADDRESS_CITY =  #{addressCity,jdbcType=VARCHAR},
            ADDRESS_COUNTRY =  #{addressCountry,jdbcType=VARCHAR},
            ADDRESS =  #{address,jdbcType=VARCHAR},
            ORG_CODE =  #{orgCode,jdbcType=VARCHAR},
            STATUS =  #{status,jdbcType=VARCHAR},
            CREATER =  #{creater,jdbcType=VARCHAR},
            itemCreateAt =  #{itemcreateat,jdbcType=TIMESTAMP},
            UPDATER =  #{updater,jdbcType=VARCHAR},
            itemUpdateAt =  #{itemupdateat,jdbcType=TIMESTAMP}
        where   itemID = #{itemid,jdbcType=INTEGER} AND itemCode = #{itemcode,jdbcType=CHAR} 
    </update>
</mapper>
