<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.zyy.mapper.IndustrialDevelopExpertRefMapper">

    <resultMap id="BaseResultMap" type="com.lanqiao.zyy.domain.IndustrialDevelopExpertRef">
            <id property="itemid" column="itemID" jdbcType="INTEGER"/>
            <id property="itemcode" column="itemCode" jdbcType="CHAR"/>
            <result property="expertCode" column="EXPERT_CODE" jdbcType="CHAR"/>
            <result property="topicCode" column="TOPIC_CODE" jdbcType="CHAR"/>
            <result property="exmaineStatus" column="EXMAINE_STATUS" jdbcType="VARCHAR"/>
            <result property="submitStatus" column="SUBMIT_STATUS" jdbcType="VARCHAR"/>
            <result property="score" column="SCORE" jdbcType="VARCHAR"/>
            <result property="creater" column="CREATER" jdbcType="VARCHAR"/>
            <result property="itemcreateat" column="itemCreateAt" jdbcType="TIMESTAMP"/>
            <result property="updater" column="UPDATER" jdbcType="VARCHAR"/>
            <result property="itemupdateat" column="itemUpdateAt" jdbcType="TIMESTAMP"/>
            <result property="opinion" column="opinion" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        itemID,itemCode,EXPERT_CODE,
        TOPIC_CODE,EXMAINE_STATUS,SUBMIT_STATUS,
        SCORE,CREATER,itemCreateAt,
        UPDATER,itemUpdateAt,opinion
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_industrial_develop_expert_ref
        where  itemID = #{itemid,jdbcType=INTEGER} AND itemCode = #{itemcode,jdbcType=CHAR} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_industrial_develop_expert_ref
        where  itemID = #{itemid,jdbcType=INTEGER} AND itemCode = #{itemcode,jdbcType=CHAR} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lanqiao.zyy.domain.IndustrialDevelopExpertRef" useGeneratedKeys="true">
        insert into tb_industrial_develop_expert_ref
        ( itemID,itemCode,EXPERT_CODE
        ,TOPIC_CODE,EXMAINE_STATUS,SUBMIT_STATUS
        ,SCORE,CREATER,itemCreateAt
        ,UPDATER,itemUpdateAt,opinion
        )
        values (#{itemid,jdbcType=INTEGER},#{itemcode,jdbcType=CHAR},#{expertCode,jdbcType=CHAR}
        ,#{topicCode,jdbcType=CHAR},#{exmaineStatus,jdbcType=VARCHAR},#{submitStatus,jdbcType=VARCHAR}
        ,#{score,jdbcType=VARCHAR},#{creater,jdbcType=VARCHAR},#{itemcreateat,jdbcType=TIMESTAMP}
        ,#{updater,jdbcType=VARCHAR},#{itemupdateat,jdbcType=TIMESTAMP},#{opinion,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lanqiao.zyy.domain.IndustrialDevelopExpertRef" useGeneratedKeys="true">
        insert into tb_industrial_develop_expert_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="itemid != null">itemID,</if>
                <if test="itemcode != null">itemCode,</if>
                <if test="expertCode != null">EXPERT_CODE,</if>
                <if test="topicCode != null">TOPIC_CODE,</if>
                <if test="exmaineStatus != null">EXMAINE_STATUS,</if>
                <if test="submitStatus != null">SUBMIT_STATUS,</if>
                <if test="score != null">SCORE,</if>
                <if test="creater != null">CREATER,</if>
                <if test="itemcreateat != null">itemCreateAt,</if>
                <if test="updater != null">UPDATER,</if>
                <if test="itemupdateat != null">itemUpdateAt,</if>
                <if test="opinion != null">opinion,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="itemid != null"> #{itemid,jdbcType=INTEGER},</if>
                <if test="itemcode != null"> #{itemcode,jdbcType=CHAR},</if>
                <if test="expertCode != null"> #{expertCode,jdbcType=CHAR},</if>
                <if test="topicCode != null"> #{topicCode,jdbcType=CHAR},</if>
                <if test="exmaineStatus != null"> #{exmaineStatus,jdbcType=VARCHAR},</if>
                <if test="submitStatus != null"> #{submitStatus,jdbcType=VARCHAR},</if>
                <if test="score != null"> #{score,jdbcType=VARCHAR},</if>
                <if test="creater != null"> #{creater,jdbcType=VARCHAR},</if>
                <if test="itemcreateat != null"> #{itemcreateat,jdbcType=TIMESTAMP},</if>
                <if test="updater != null"> #{updater,jdbcType=VARCHAR},</if>
                <if test="itemupdateat != null"> #{itemupdateat,jdbcType=TIMESTAMP},</if>
                <if test="opinion != null"> #{opinion,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lanqiao.zyy.domain.IndustrialDevelopExpertRef">
        update tb_industrial_develop_expert_ref
        <set>
                <if test="expertCode != null">
                    EXPERT_CODE = #{expertCode,jdbcType=CHAR},
                </if>
                <if test="topicCode != null">
                    TOPIC_CODE = #{topicCode,jdbcType=CHAR},
                </if>
                <if test="exmaineStatus != null">
                    EXMAINE_STATUS = #{exmaineStatus,jdbcType=VARCHAR},
                </if>
                <if test="submitStatus != null">
                    SUBMIT_STATUS = #{submitStatus,jdbcType=VARCHAR},
                </if>
                <if test="score != null">
                    SCORE = #{score,jdbcType=VARCHAR},
                </if>
                <if test="creater != null">
                    CREATER = #{creater,jdbcType=VARCHAR},
                </if>
                <if test="itemcreateat != null">
                    itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
                </if>
                <if test="updater != null">
                    UPDATER = #{updater,jdbcType=VARCHAR},
                </if>
                <if test="itemupdateat != null">
                    itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
                </if>
                <if test="opinion != null">
                    opinion = #{opinion,jdbcType=VARCHAR},
                </if>
        </set>
        where   itemID = #{itemid,jdbcType=INTEGER} AND itemCode = #{itemcode,jdbcType=CHAR} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lanqiao.zyy.domain.IndustrialDevelopExpertRef">
        update tb_industrial_develop_expert_ref
        set 
            EXPERT_CODE =  #{expertCode,jdbcType=CHAR},
            TOPIC_CODE =  #{topicCode,jdbcType=CHAR},
            EXMAINE_STATUS =  #{exmaineStatus,jdbcType=VARCHAR},
            SUBMIT_STATUS =  #{submitStatus,jdbcType=VARCHAR},
            SCORE =  #{score,jdbcType=VARCHAR},
            CREATER =  #{creater,jdbcType=VARCHAR},
            itemCreateAt =  #{itemcreateat,jdbcType=TIMESTAMP},
            UPDATER =  #{updater,jdbcType=VARCHAR},
            itemUpdateAt =  #{itemupdateat,jdbcType=TIMESTAMP},
            opinion =  #{opinion,jdbcType=VARCHAR}
        where   itemID = #{itemid,jdbcType=INTEGER} AND itemCode = #{itemcode,jdbcType=CHAR} 
    </update>
</mapper>
